.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  margin: 5px 0;
}

h3 {
  text-align: center;
}

p {
  word-wrap: break-word;
}

.task-create {
  width: 450px;
}
.task-update {
  width: 100%;
}

.task-form {
  display: flex;
  flex-direction: column;
}

.task-label {
  margin: 10px 0;
}

.task-input {
  padding: 10px;
  border: 1px solid #fc46b1;
  border-radius: 5px;
}

.create-btn {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid white;
  background-color: #fc46b1;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}

.create-btn:hover {
  background-color: white;
  color: #fc46b1;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.task {
  width: 300px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
}

.btn {
  background-color: #fc46b1;
  width: 100px;
  padding: 10px;
  margin: 5px 5px 5px 0px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: #fc46b1;
}
